[run]
omit = isomer/__init__.py
       isomer/ui/__init__.py
       isomer/provisions/__init__.py
       isomer/schemata/__init__.py
       tests/*

[html]
directory = coverage

[xml]
output = coverage.xml
