[submodule "frontend"]
	path = frontend
	url = https://github.com/isomeric/isomer-frontend.git
[submodule "modules/enrol"]
	path = modules/enrol
	url = https://github.com/isomeric/isomer-enrol
[submodule "modules/mail"]
	path = modules/mail
	url = https://github.com/isomeric/isomer-mail
