# Basics
# virtualenv-api>=2.1.11
click-didyoumean>=0.0.3
click-plugins>=1.1.1
git+https://github.com/ri0t/click-repl.git
#click-repl>=0.1.2
click>=7.1.2
deepdiff>=5.0.2
distro>=1.5
dpath>=2.0.1
formal>=0.6.3
git+https://github.com/ri0t/circuits.git
gitpython>=3.1.8
jsonschema>=3.2.0
networkx
numpy>=1.16.2
prompt-toolkit==2.0.10
pycountry>=20.7
pyinotify>=0.9.6
pymongo>=3.11
#pyOpenSSL>=17.0.0
pystache>=0.5.4
python-dateutil>=2.8
pytz>=2020.1
setuptools
spur>=0.3.21
tomlkit>=0.7.0
SecretColors>=1.2.0
six>=1.15.0
pypi-simple>=0.6.0
typing_extensions>=3.7.4.2
requests>=2.24.0
docutils>=0.16
bcrypt>=3.2
asciichartpy>=1.5.25
