# Basics
-r requirements.txt
-r requirements-test.txt
-r requirements-doc.txt

# Linting, QA
pyflakes
pylint
pep8
doc8
mccabe

# Debugging
pudb
objgraph
#guppy

# Packaging
wheel

# Documentation and translation
#Sphinx-PyPI-upload
transifex-client
